extends layout

block content
  h1= title
  p List of ornithology expeditions and notable birds observed.

  .container-fluid
    .row
      each expedition, index in expeditions
        .col-sm-4
          .card
            .card-body(data-index=index style="cursor:pointer;")
              h5 Expedition Location: #{expedition.location}
              p Species Spotted: #{expedition.species_spotted}
              p Duration: #{expedition.duration_days} days
              button.btn.btn-primary Buy

  br
  script.
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll(".card-body").forEach(card => {
        card.addEventListener("click", function() {
          let index = this.getAttribute("data-index");
          alert(`You purchased item ${index}`);
        });
      });
    });



