extends layout

block content
  h1= title
  - let ornithologyid = toShow._id
  - let ornithology_type = toShow.ornithology_type
  - let cost = toShow.cost
  - let size = toShow.size

  div
    div.row
      div(class='ornithologyAttr mr-3') Ornithology ID is:
      div #{ornithologyid}
    div.row
      div(class='ornithologyAttr mr-3') Ornithology Type is:
      div #{ornithology_type}
    div.row
      div(class='ornithologyAttr mr-3') Ornithology Size is:
      div #{size}
    div.row
      div(class='ornithologyAttr mr-3') Ornithology Cost is:
      div #{cost}
