extends layout

block content
  h1= title
  - let ornithologyid = toShow._id
  - let ornithology_type = toShow.ornithology_type
  - let cost = toShow.cost
  - let size = toShow.size

  div
    div.row
      div(class='ornithologyAttr mr-3') Ornithology ID is:
      div #{ornithologyid}
    div.row
      div(class='ornithologyAttr mr-3') Ornithology location is:
      div #{ornithology_location}
    div.row
      div(class='ornithologyAttr mr-3') Ornithology species_spotted is:
      div #{species_spotted}
    div.row
      div(class='ornithologyAttr mr-3') Ornithology duration_days is:
      div #{duration_days}
